body {
	text-align: center;
}

footer {
	padding: 20px ;
	clear: both;
}
h1 {
	padding: 20px;
}
button {
  width: 50px;
  height:40px;
  position: relative;
  display: inline-block;
  vertical-align: top;

}
button > .middle {
  position: absolute;
  left: calc(50% - 5px);
  top: calc(50% - 5px);
  width: 10px;
  height: 10px;
  color: blue;
}

button > .top-left {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 10px;
  height: 10px;
}
#shift {
	position: relative;
	width: 60px;
	height:  40px;

}
#enter {
	position: relative;
	height: 40px;
	width: 80px;
}
#caps {
	position: relative; 
	
	height: 40px;
	width: 70px;

}
#space {
	height: 40px;
	width: 130px;

}

#bottomrow { 
	position: relative;
	padding: 20px;

}